ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    list-style: circle;
}
.list {
    list-style: disc;
}
#msg {
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --black: #000000;
    --purple: #faf3fb;    
}

body {
    background-color: var(--bg);
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    position: fixed;
    top: 40px;
    right: 10px;
    height: 90px;
    width: 120px;
    border-radius: 50%;
    color : var(--btnFontColor);
    background-color : var(--btnBg);
    cursor: pointer;
    font-size: x-large;
    
}
.light-theme {
  --bg: var(--purple);
  --fontColor: var(--black);
  --btnBg: var(--purple);
  --btnFontColor: var(--black);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--purple);
  --btnBg: var(--black);
  --btnFontColor: var(--purple);
}
html { scroll-behavior: smooth; }
/* Base link colour */
a {
  color: #bb00f9;   /* light purple‑pink */
  text-decoration: none;
}

/* Hover effect */
a:hover {
  color: #f1cffd;   /* brighter pastel pink‑purple */
}

/* Visited links */
a:visited {
  color: #da7ff8;   /* slightly deeper shade */
}

/* Active (when clicking) */
a:active {
  color: #f3edf5;   /* soft pink flash */
}

/* Wrap text */
p {
  white-space: pre-wrap;
}
/* Style for the side navigation */
.sidenav {
  height: 100%; /* Full-height */
  width: 400px; /* Set the width of the side navigation */
  position: fixed; /* Fixed position */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0; /* Stay on the left */
  background-color: var(--purple); /* Background color */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 20px from the top */
}
/* Style for the links inside the side navigation */
.sidenav a {
  padding: 6px 8px 6px 16px; /* Padding */
  text-decoration-style: double;/* Remove underline */
  font-size: 25px; /* Increase font size */
  color: var(--purple); /* Link color */
  display:ruby-base; /* Make the links appear below each other */
}
/* Change color on hover */
.sidenav a:hover {
  color: #f1cffd;   /* brighter pastel pink‑purple */
}
.sidenav a:visited {
  color: #da7ff8;   /* slightly deeper shade */
}
.sidenav a:active {
  color: #f3edf5;   /* soft pink flash */
}
/* Style for the main content */
.main {
  margin-left: 400px; /* Same as the width of the sidenav */
  padding: 0px 10px; /* Some padding */
} 
/*on smaller screens, where the height of the sidenav is 100% instead of 100vh, remove the left margin of the main content to prevent it from being hidden behind the sidenav*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .main {margin-left: 0;}
}
